*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: black;
}

#display{
    margin-bottom: 20px;
    height: 60px;
    width: 330px;
    border-radius: 12px;
    text-align: right;
    font-size: 2rem;
    padding: 0 20px;
    outline: none;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid yellow;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}


.btn{
    padding: 20px;
    border-radius: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    border:none;
}

.btn:hover, .btn:focus{
    transform: translateY(-2px) scale(1.04);
    background-color: rgb(229, 226, 226);
}

.btn:active{
    transform: translateY(0);
}

#equals{
    background-color: rgb(203, 255, 125);
}


#AC{
    background-color: yellow;
}

#clear{
    background-color: rgb(252, 229, 187);
}


#add,#multiply,#divide,#subtract,#openBracket,#closeBracket{
    background-color: rgb(236, 189, 244);
}
