*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.switch{
    width: 100px;
    height: 50px;
    background-color: rgb(176,176,176);
    border-radius: 50px;
    cursor: pointer;
}


button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid grey;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.dark{
    transform: translate(50px);
}

.darkbody{
    background-color: #111;
}