*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(225deg, rgb(0,60,84) 10%, rgb(81,47,247) 50%, rgb(14,141,132)100%)

}


.container{
    background-color: rgba(0,234,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    color: white;
    transition: box-shadow 0.2s;

}

.container:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}


#text{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(0,44,44);
    color: white;
}
#text::placeholder{
    color:rgb(75,209,221);
}


#qrBox{
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    width: 70%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: cyan;
    font-weight: bold;

}
button:hover{
    transform: scale(1.04);
}
button:active{
    background-color: rgb(74,237,237);
    transform: scale(1);
}